<extend name="Public/base" />

<block name="body">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/webuploader-0.1.5/webuploader.css">
<script type="text/javascript" src="__STATIC__/webuploader-0.1.5/webuploader.js"></script>
    <div class="main-title cf">
        <h2>编辑 [{$model['title']}]</h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <ul class="tab-nav nav">
			<volist name=":parse_config_attr($model['field_group'])" id="group">
			<li data-tab="tab{$key}" <eq name="key" value="1">class="current"</eq>><a href="javascript:void(0);">{$group}</a></li>
			</volist>
    </ul>
    <div class="tab-content">
    <!-- 表单 -->
    <form id="form" action="{:U('edit?model='.$model['id'])}" method="post" class="form-horizontal">
        <!-- 基础文档模型 -->
		<volist name=":parse_config_attr($model['field_group'])" id="group">
		<div id="tab{$key}" class="tab-pane <eq name="key" value="1">in</eq> tab{$key}">
            <volist name="fields[$key]" id="field">
                <if condition="$field['is_show'] == 1 || $field['is_show'] == 3">
                <div class="form-item cf">
                    <label class="item-label">{$field['title']}<span class="check-tips"><notempty name="field['remark']">（{$field['remark']}）</notempty></span></label>
                    <div class="controls">
                        <switch name="field.type">
                            <case value="num">
                                <if condition="substr($field['name'],-3) eq '_id'">
                                	<if condition ="substr($field['name'],0,-3) eq 'image_category'">
    	                            	<select name="{$field.name}">
    	                                    <if condition = "is_array($parse_field = parse_field($field['name'],$data[$field['name']],'image_category',0,true))">
    	                                    	<volist name="parse_field" id="vo">
    	                                        <option value="{$vo.id}" <eq name="data[$field['name']]" value="$vo.id">selected</eq> >{$vo.name}</option>
    	                                    	</volist>
    	                                    <else/>
    	                                    	{$parse_field}
    	                                    </if>
    	                                </select>
    		                        <else/>
                                        <input type="text" class="text input-mid" name="{$field.name}" value="{$data[$field['name']]}">
                                    </if>
                                <else/>
                                    <input type="text" class="text input-mid" name="{$field.name}" value="{$data[$field['name']]}">
                                </if>
                            </case>
                            <case value="string">
                                <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
                            </case>
                            <case value="textarea">
                                <label class="textarea input-large">
                                <textarea name="{$field.name}">{$data[$field['name']]}</textarea>
                                </label>
                            </case>
                            <case value="date">
                                <input type="text" name="{$field.name}" class="text input-mid date" value="{$data[$field['name']]|date='Y-m-d',###}" placeholder="请选择日期" />
                            </case>
                            <case value="datetime">
                                <input type="text" name="{$field.name}" class="text input-mid time" value="{$data[$field['name']]|date='Y-m-d H:i',###}" placeholder="请选择时间" />
                            </case>
                            <case value="bool">
                                <select name="{$field.name}">
                                    <volist name=":parse_field_attr($field['extra'])" id="vo">
                                        <option value="{$key}" <eq name="data[$field['name']]" value="$key">selected</eq>>{$vo}</option>
                                    </volist>
                                </select>
                            </case>
                            <case value="select">
                                <select name="{$field.name}">
                                    <volist name=":parse_field_attr($field['extra'])" id="vo">
                                        <option value="{$key}" <eq name="data[$field['name']]" value="$key">selected</eq>>{$vo}</option>
                                    </volist>
                                </select>
                            </case>
                            <case value="radio">
                                <volist name=":parse_field_attr($field['extra'])" id="vo">
                                	<label class="radio">
                                    <input type="radio" value="{$key}" name="{$field.name}" <eq name="data[$field['name']]" value="$key">checked="checked"</eq>>{$vo}
                                	</label>
                                </volist>
                            </case>
                            <case value="checkbox">
                                <volist name=":parse_field_attr($field['extra'])" id="vo">
                                	<label class="checkbox">
                                    <input type="checkbox" value="{$key}" name="{$field.name}[]" <in name="key" value="$data[$field['name']]" >checked="checked"</in>>{$vo}
                                	</label>
                                </volist>
                            </case>
                            <case value="editor">
                                <label class="textarea">
                                <textarea name="{$field.name}">{$data[$field['name']]}</textarea>
                                {:hook('adminArticleEdit', array('name'=>$field['name'],'value'=>$data[$field['name']]))}
                                </label>
                            </case>
                            <case value="picture">
                                <div class="controls">
									<!--<input type="file" id="upload_picture_{$field.name}">-->
									<input type="hidden" name="{$field.name}" id="cover_id_{$field.name}" value="{$data[$field['name']]}"/>
									<!--<div class="upload-img-box">
									<notempty name="data[$field['name']]">
										<div class="upload-pre-item"><img src="{$data[$field['name']]|get_cover='path'}"/></div>
									</notempty>
									</div>-->
                                    
                                    <div id="uploader-img">
                                        <!--用来存放item-->
                                        <div id="fileList_{$field.name}" class="uploader-list">
            							    <notempty name="data[$field['name']]">
                                            <div id="WU_FILE_0" class="file-item thumbnail upload-state-done">
            									<img src="{$data[$field['name']]|get_cover='path'}" style="width:100px;height:100px;"/>
                                                <!--<div class="info"> + file.name + </div>-->
                                            </div>
            								</notempty>
                                        </div>
                                        <div id="filePicker_{$field.name}">选择图片</div>
                                    </div>
								</div>
								<script type="text/javascript">
								//上传图片
							    /* 初始化上传插件 */
								/*$("#upload_picture_{$field.name}").uploadify({
							        "height"          : 30,
							        "swf"             : "__STATIC__/uploadify/uploadify.swf",
							        "fileObjName"     : "download",
							        "buttonText"      : "上传图片",
							        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
							        "width"           : 120,
							        'removeTimeout'	  : 1,
							        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
							        "onUploadSuccess" : uploadPicture{$field.name},
                                    'onFallback' : function() {
                                        alert('未检测到兼容版本的Flash.');
                                    }
							    });
								function uploadPicture{$field.name}(file, data){
							    	var data = $.parseJSON(data);
							    	var src = '';
							        if(data.status){
							        	$("#cover_id_{$field.name}").val(data.id);
							        	src = data.url || '__ROOT__' + data.path;
							        	$("#cover_id_{$field.name}").parent().find('.upload-img-box').html(
							        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
							        	);
							        } else {
							        	updateAlert(data.info);
							        	setTimeout(function(){
							                $('#top-alert').find('button').click();
							                $(that).removeClass('disabled').prop('disabled',false);
							            },1500);
							        }
							    }*/
                                
                                var BASE_URL = "__STATIC__/webuploader-0.1.5";
                                var $list_{$field.name}=$("#fileList_{$field.name}");
                                var thumbnailWidth = 100;   //缩略图高度和宽度 （单位是像素），当宽高度是0~1的时候，是按照百分比计算，具体可以看api文档
                                var thumbnailHeight = 100;
                                var uploader = WebUploader.create({
                                    // swf文件路径
                                    swf: BASE_URL + "/js/Uploader.swf",
                                    // 文件接收服务端。
                                    server: "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    // 选择文件的按钮。可选。
                                    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                                    pick: "#filePicker_{$field.name}",
                                    // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                                    resize: false,
                                    // 只允许选择图片文件。
                                    accept: {
                                        title: 'Images',
                                        extensions: 'gif,jpg,jpeg,bmp,png',
                                        mimeTypes: 'image/*'
                                    },
                                    auto:true,
                                    fileVal:'download'
                                });
                                // 当有文件添加进来的时候
                                uploader.on( 'fileQueued', function( file ) {
                                    var $li = $(
                                            '<div id="' + file.id + '" class="file-item thumbnail">' +
                                                '<img>' +
                                                //'<div class="info">' + file.name + '</div>' +
                                            '</div>'
                                            ),
                                        $img = $li.find('img');
                                    // $list为容器jQuery实例
                                    //$list_{$field.name}.append( $li );
                                    $list_{$field.name}.html( $li );
                                    // 创建缩略图
                                    // 如果为非图片文件，可以不用调用此方法。
                                    // thumbnailWidth x thumbnailHeight 为 100 x 100
                                    uploader.makeThumb( file, function( error, src ) {
                                        if ( error ) {
                                            $img.replaceWith('<span>不能预览</span>');
                                            return;
                                        }
                                        $img.attr( 'src', src );
                                    }, thumbnailWidth, thumbnailHeight );
                                });
                                // 文件上传过程中创建进度条实时显示。
                                uploader.on( 'uploadProgress', function( file, percentage ) {
                                    var $li = $( '#'+file.id ),
                                        $percent = $li.find('.progress span');
                                    // 避免重复创建
                                    if ( !$percent.length ) {
                                        $percent = $('<p class="progress"><span></span></p>')
                                                .appendTo( $li )
                                                .find('span');
                                    }
                                    $percent.css( 'width', percentage * 100 + '%' );
                                });
                                // 文件上传成功，给item添加成功class, 用样式标记上传成功。
                                uploader.on( 'uploadSuccess', function( file ,response) {
                                    $( '#'+file.id ).addClass('upload-state-done');
                                    $('#cover_id_{$field.name}').val(response.id);
                                });
                                // 文件上传失败，显示上传出错。
                                uploader.on( 'uploadError', function( file ) {
                                    var $li = $( '#'+file.id ),
                                        $error = $li.find('div.error');
                                    // 避免重复创建
                                    if ( !$error.length ) {
                                        $error = $('<div class="error"></div>').appendTo( $li );
                                    }
                                    $error.text('上传失败');
                                });
                                // 完成上传完了，成功或者失败，先删除进度条。
                                uploader.on( 'uploadComplete', function( file ) {
                                    $( '#'+file.id ).find('.progress').remove();
                                });
								</script>
                            </case>
                            <case value="file">
								<div class="controls">
									<input type="file" id="upload_file_{$field.name}">
									<input type="hidden" name="{$field.name}" value="{$data[$field['name']]}"/>
									<div class="upload-img-box">
										<present name="data[$field['name']]">
											<div class="upload-pre-file"><span class="upload_icon_all"></span>{$data[$field['name']]|get_table_field=###,'id','name','File'}</div>
										</present>
									</div>
								</div>
								<script type="text/javascript">
								//上传图片
							    /* 初始化上传插件 */
								$("#upload_file_{$field.name}").uploadify({
							        "height"          : 30,
							        "swf"             : "__STATIC__/uploadify/uploadify.swf",
							        "fileObjName"     : "download",
							        "buttonText"      : "上传附件",
							        "uploader"        : "{:U('File/upload',array('session_id'=>session_id()))}",
							        "width"           : 120,
							        'removeTimeout'	  : 1,
							        "onUploadSuccess" : uploadFile{$field.name},
                                    'onFallback' : function() {
                                        alert('未检测到兼容版本的Flash.');
                                    }
							    });
								function uploadFile{$field.name}(file, data){
									var data = $.parseJSON(data);
							        if(data.status){
							        	var name = "{$field.name}";
							        	$("input[name="+name+"]").val(data.data);
							        	$("input[name="+name+"]").parent().find('.upload-img-box').html(
							        		"<div class=\"upload-pre-file\"><span class=\"upload_icon_all\"></span>" + data.info + "</div>"
							        	);
							        } else {
							        	updateAlert(data.info);
							        	setTimeout(function(){
							                $('#top-alert').find('button').click();
							                $(that).removeClass('disabled').prop('disabled',false);
							            },1500);
							        }
							    }
								</script>
                            </case>
                            <default/>
                            <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
                        </switch>
                    </div>
                </div>
                </if>
            </volist>
        </div>
		</volist>


        <div class="form-item cf">
            <input type="hidden" name="id" value="{$data.id}">
            <button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <a class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</a>
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});

$(function(){
	$('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();
});
//导航高亮
highlight_subnav('{:U('index')}');
</script>
</block>
