
    <!-- 底部
    ================================================== -->
    <footer class="footer yl">
      <div class="container">
          <div id="">
			<div id="left" style="display:inline">
				<img src="__IMG__/yl/footer_06.png" width="28%" style="margin-top:-58px;">
			</div>
			<div id="link" style="display:inline-block;width:25%;">
				<div id="up">
					<img src="__IMG__/yl/footer_03_word.png" width="207px">
				</div>
				<div id="middle">
					<img src="__IMG__/yl/footer_13.png" width="354px">
				</div>
				<div id="down" style="padding-top:5px;text-align: center;display: inline-flex">
				<!--<a href="{:C('WEB_SITE_WECHAT_LINK')}" target="_blank"><img src="__IMG__/yl/footer_17.png" class="link_image"></a>
                <a href="{:C('WEB_SITE_SINA_LINK')}" target="_blank"><img src="__IMG__/yl/footer_19.png" class="link_image"></a>
                <a href="{:C('WEB_SITE_TMALL_LINK')}" target="_blank"><img src="__IMG__/yl/footer_21.png" class="link_image"></a>
                <a href="{:C('WEB_SITE_SHARE_LINK')}" target="_blank"><img src="__IMG__/yl/footer_23.png" class="link_image"></a>-->
                <div>
                    <a href="{:C('WEB_SITE_WECHAT_LINK')}" target="_self"><img id="wechat" src="__IMG__/yl/wechat_black.png" class="link_image"></a>
                </div>
                <div>
                    <a href="{:C('WEB_SITE_SINA_LINK')}" target="_self"><img id="weibo" src="__IMG__/yl/weibo_black.png" class="link_image"></a>
                </div>
                <div>
                    <a href="{:C('WEB_SITE_TMALL_LINK')}" target="_blank"><img id="tmall" src="__IMG__/yl/tmall_black.png" class="link_image"></a>
                </div>
                <div>
                    <a href="{:C('WEB_SITE_SHARE_LINK')}" target="_self"><img id="share" src="__IMG__/yl/share_black.png" class="link_image"></a>
                </div>
			</div>
			</div>
			<div id="right" style="display:inline;">
				<img src="__IMG__/yl/footer_09.png" width="28%" style="margin-top:-58px;">
			</div>
          </div>
      </div>
    </footer>

<include file="Public/var"/>
<block name="script">
	<script>
		$(function(){
			$("#wechat").hover(function(){
				$(this).attr('src','__IMG__/yl/wechat_color.png');
			},function(){
				$(this).attr('src','__IMG__/yl/wechat_black.png');
			});
			$("#weibo").hover(function(){
				$(this).attr('src','__IMG__/yl/weibo_color.png');
			},function(){
				$(this).attr('src','__IMG__/yl/weibo_black.png');
			});
			$("#share").hover(function(){
				$(this).attr('src','__IMG__/yl/share_color.png');
			},function(){
				$(this).attr('src','__IMG__/yl/share_black.png');
			});
		});
	</script>
</block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
