.aboutImg{
	position: absolute;
}
.aboutDiv{
	width: 100%;
    position: relative;
}

.left1{
	width: 10.42%;
	/* height: 9.79%; */
	left:16.2%;
	/* top:27.59%; */
}
.left1-mobile{
	width: 10.42%;
	/* height: 9.79%; */
	left:2.5%;
	/* top:27.59%; */
}
.right1{
	width: 10.42%;
	/* height: 9.79%; */
	left:71.93%;
	/* top:27.59%; */
}
.right1-mobile{
	width: 10.42%;
	/* height: 9.79%; */
	left:85.93%;
	/* top:27.59%; */
}
.left2{
	width: 12.24%;
	/* height: 11.55%; */
	left:18.8%;
	/* top:36.79%; */
}
.right2{
	width: 12.24%;
	/* height: 11.55%; */
	left:68.59%;
	/* top:36.79%; */
}
.left2-mobile{
	width: 12.24%;
	/* height: 11.55%; */
	left:8.8%;
	/* top:36.79%; */
}
.right2-mobile{
	width: 12.24%;
	/* height: 11.55%; */
	left:78.59%;
	/* top:36.79%; */
}
.left3{
	width: 13.7%;
	/* height: 12.88%; */
	left:20.68%;
	/* top:47.39%; */
}
.right3{
	width: 13.7%;
	/* height: 12.88%; */
	left:61.77%;
	/* top:47.39%; */
}
.left3-mobile{
	width: 13.7%;
	/* height: 12.88%; */
	left:16.68%;
	/* top:47.39%; */
}
.right3-mobile{
	width: 13.7%;
	/* height: 12.88%; */
	left:67.77%;
	/* top:47.39%; */
}
.left4{
	width:14.69%;
	/* height:13.83%; */
	left:26.15%;
	/* top:59.09%; */
}
.left4-mobile{
	width:14.69%;
	/* height:13.83%; */
	left:26.15%;
	/* top:59.09%; */
}
.right4{
	width:14.64%;
	/* height:13.76%; */
	left:57.55%;
	/* top:59.09%; */
}
.right4-mobile{
	width:14.64%;
	/* height:13.76%; */
	left:57.55%;
	/* top:59.09%; */
}
.mid2{
	width:18.96%;
	/* height:17.8%; */
	left:40.36%;
	/* top: 57.10%; */
	z-index: 2;
}
.mid2-mobile{
	width:18.96%;
	/* height:17.8%; */
	left:40.36%;
	/* top: 57.10%; */
	z-index: 2;
}
.mid1{
	width: 31.7%;
	/* height: 29.8%; */
    left:34.27%;
    /* top:23rem; */
	top:17.17%;
}
.mid1-mobile{
	width: 31.7%;
	/* height: 29.8%; */
    left:34.27%;
    /* top:23rem; */
	top:17.17%;
}
.about-bg-01{
	width: 8.43%;
	/* height: 13.69%; */
	left:15.47%;
	/* top:14.72%; */
}

.about-bg-02{
	width:2.76%;
	/* height:13.54%; */
	left:9.9%;
	/* top:54.6%; */
}
.about-bg-03{
	width:5%;
	/* height:7.28%; */
	left:14.27%;
	/* top:85.43%; */
}
.about-bg-04{
	width:10.52%;
	/* height:10.15%; */
	left:44.84%;
	/* top:63.36%; */
}
.about-bg-05{
	width:1.2%;
	/* height:5.74%; */
	left:78.8%;
	/* top:21.49%; */
}
.about-bg-06{
	width:3.6%;
	/* height:8.46%; */
	left:88.39%;
	/* top:36.57%; */
}
.about-bg-07{
	width:9.01%;
	/* height:4.42%; */
	left:80.83%;
	/* top:60.27%; */
}
.about-bg-08{
	width:5.89%;
	/* height:18.32%; */
	left:79.43%;
	/* top:81.68%; */
}
.aboutBody{
	/* background:url("../images/YL_PNG/intro/background_new.png")no-repeat;
	background-size: contain; 
	background-position-y: -110px; */
	/* background-position-x: 50px; */
	background-color: #fff;
}

.about-empty{
	width: 100%;
}

.aboutContent{
	/* position: absolute; */
	margin-left:26.77%;
	width:47.76%;
	height:15.31%;
	left:26.77%;
	/*font-family: JQXiYuanFT;*/
	font-family: HYLiangPinXianJ;
	font-size: 1rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 2rem;
	letter-spacing: 0rem;
	color: #565656;
	overflow: hidden;
}
.aboutContent-mobile{
	/* position: absolute; */
	margin-left:2.5%;
	width:95%;
	height:15.31%;
	font-family: HYLiangPinXianJ;
	font-size: 1rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 2rem;
	letter-spacing: 0rem;
	color: #565656;
	overflow: hidden;
}
/* html{
	font-size: 62.5%;
}
body {
    font-size: 1.4rem;
}
h1 {
    font-size: 2.4rem;
} */