html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

.sky {
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
    top: 0;
    left: 0;
    /*-webkit-animation: sky_background 100s ease-out infinite;*/
    /*-moz-animation: sky_background 100s ease-out infinite;*/
    /*-o-animation: sky_background 100s ease-out infinite;*/
    /*animation: sky_background 100s ease-out infinite;*/
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*-ms-transform: translate3d(0, 0, 0);*/
    /*-o-transform: translate3d(0, 0, 0);*/
    /*transform: translate3d(0, 0, 0);*/
}

.sky .clouds_one {
    z-index: 2;
    background: url("../images/yl/cloud_1.png") no-repeat scroll;
    position: absolute;
    top: 2rem;
    left: -10rem;
    height: 100%;
    width: 150%;
    -webkit-animation: range_one 100s linear infinite;
    -moz-animation: range_one 100s linear infinite;
    -o-animation: range_one 100s linear infinite;
    animation: range_one 100s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sky .clouds_two {
    z-index: 2;
    background: url("../images/yl/cloud_2.png") no-repeat scroll;
    position: absolute;
    top: 4rem;
    left: 20rem;
    height: 100%;
    width: 150%;
    -webkit-animation: range_two 120s linear infinite;
    -moz-animation: range_two 120s linear infinite;
    -o-animation: range_two 120s linear infinite;
    animation: range_two 120s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sky .clouds_fixed {
    z-index: 1;
    background: url("../images/yl/cloud_fixed.png") no-repeat scroll;
    position: absolute;
    left: 13rem;
    /*top: 20%;*/
    height: 100%;
    width: 100%;
}

@-webkit-keyframes range_one {
    0% {
        left: 80%
    }
    100% {
        left: -150%
    }
}

@-moz-keyframes range_one {
    0% {
        left: 80%
    }
    100% {
        left: -150%
    }
}

@keyframes range_one {
    0% {
        left: 80%
    }
    100% {
        left: -150%
    }
}

@-webkit-keyframes range_two {
    0% {
        left: 150%
    }
    100% {
        left: -150%
    }
}

@-moz-keyframes range_two {
    0% {
        left: 150%
    }
    100% {
        left: -150%
    }
}

@keyframes range_two {
    0% {
        left: 150%
    }
    100% {
        left: -150%
    }
}


#arrow_down {
    z-index: 12;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 6rem;
    width: 3rem;
    height: 3rem;
    margin: -1.5rem 0 0 -1.5rem;;
    background: url("../images/YL_PNG/开始页/start_18.png") center center no-repeat;
    animation: down 1s infinite linear;
    -webkit-animation: down 1s infinite linear; /* Safari 和 Chrome */
}

@keyframes down {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0, -10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 8px);
    }
}

@-webkit-keyframes down {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0, -10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 8px);
    }
}

#logo {
    z-index: 10;
    /*background: url("../images/YL_PNG/开始页/ylLogoShadow_03.png") center center no-repeat;*/
    background: url("../images/YL_PNG/开始页/startPage_03.png") center center no-repeat;
    /*background: url("../images/YL_PNG/开始页/startPage_last_03.png") center center no-repeat;*/
    background-size: 100% 100%;
    width: 32rem;
    height: 24rem;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#skip{

    z-index: 10;
    background: url("../images/YL_PNG/开始页/start_15.png") center center no-repeat;
    background-size: 100% 100%;
    width: 1.5rem;
    height: 1rem;
    margin: auto;
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}