html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

.sky {
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
    top:0;
    left: 0;
    /*-webkit-animation: sky_background 100s ease-out infinite;*/
    /*-moz-animation: sky_background 100s ease-out infinite;*/
    /*-o-animation: sky_background 100s ease-out infinite;*/
    /*animation: sky_background 100s ease-out infinite;*/
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*-ms-transform: translate3d(0, 0, 0);*/
    /*-o-transform: translate3d(0, 0, 0);*/
    /*transform: translate3d(0, 0, 0);*/
}

.sky .clouds_one {
    z-index: 1;
    background: url("../images/yl/cloud_one.png") no-repeat scroll;
    position: absolute;
    left: 0;
    top: -10rem;
    /*top: 30%;*/
    height: 100%;
    width: 200%;
    -webkit-animation: range_one 120s linear infinite;
    -moz-animation: range_one 120s linear infinite;
    -o-animation: range_one 120s linear infinite;
    animation: range_one 120s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sky .clouds_two {
    z-index: 1;
    background: url("../images/yl/cloud_two.png") no-repeat scroll;
    position: absolute;
    left: 0;
    top: -8rem;
    /*top: 40%;*/
    height: 100%;
    width: 300%;
    -webkit-animation: range_one 140s linear infinite;
    -moz-animation: range_one 140s linear infinite;
    -o-animation: range_one 140s linear infinite;
    animation: range_one 140s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


.sky .clouds_three {
    z-index: 1;
    background: url("../images/yl/cloud_three.png") no-repeat scroll;
    position: absolute;
    left: 0;
    top: -5rem;
    /*top: 20%;*/
    height: 100%;
    width: 300%;
    -webkit-animation: range_two 280s linear infinite;
    -moz-animation: range_two 280s linear infinite;
    -o-animation: range_two 280s linear infinite;
    animation: range_two 280s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.logo{
    z-index: 2; position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../images/yl/logo.png") no-repeat scroll;
}

.fromFarToClose{
    position: absolute;
    left: 20%;
    top: 60%;
    /*top: 20%;*/
    height: 20px;
    width: 20px;
    -webkit-animation: fromFarToClose 50s linear infinite;
    -moz-animation: fromFarToClose 50s linear infinite;
    -o-animation: fromFarToClose 50s linear infinite;
    animation: fromFarToClose 50s linear infinite;
    animation-fill-mode: forwards;
    -webkit-transform: translate3d(0, 1, 0);
    -ms-transform: translate3d(0, 1, 0);
    -o-transform: translate3d(0, 1, 0);
    transform: translate3d(0, 1, 0);
}

.sky .clouds_one2 {
    background: url("../images/yl/cloud_one.png") no-repeat scroll;
    position: absolute;
    left: 0;
    top: -30%;
    /*top: 30%;*/
    height: 100%;
    width: 200%;
    -webkit-animation: range_two 200s linear infinite;
    -moz-animation: range_two 200s linear infinite;
    -o-animation: range_two 200s linear infinite;
    animation: range_two 200s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sky .clouds_two2 {
    background: url("../images/yl/cloud_two.png") no-repeat scroll;
    position: absolute;
    left: 0;
    top: -30%;
    /*top: 40%;*/
    height: 100%;
    width: 300%;
    -webkit-animation: range_two 250s linear infinite;
    -moz-animation: range_two 250s linear infinite;
    -o-animation: range_two 250s linear infinite;
    animation: range_two 250s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


.sky .clouds_three2 {
    background: url("../images/yl/cloud_three.png") no-repeat scroll;
    position: absolute;
    left: 0;
    top: -20%;
    /*top: 20%;*/
    height: 100%;
    width: 300%;
    -webkit-animation: range_two 300s linear infinite;
    -moz-animation: range_two 300s linear infinite;
    -o-animation: range_two 300s linear infinite;
    animation: range_two 300s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/*
@-webkit-keyframes sky_background {
    0% {
        background: #007fd5;
        color: #007fd5
    }
    50% {
        background: #007fd5;
        color: #007fd5;
    }
    100% {
        background: #007fd5;
        color: #007fd5
    }
}

@-moz-keyframes sky_background {
    0% {
        background: #007fd5;
        color: #007fd5
    }
    50% {
        background: #007fd5;
        color: #007fd5;
    }
    100% {
        background: #007fd5;
        color: #007fd5
    }
}

@keyframes sky_background {
    0% {
        background: #007fd5;
        color: #007fd5
    }
    50% {
        background: #007fd5;
        color: #007fd5;
    }
    100% {
        background: #007fd5;
        color: #007fd5
    }
}
*/
@-webkit-keyframes fromFarToClose {
    0% {
        top: 60%;
    }
    100% {
        top: -20%;
        height:200px;
        width: 500px;
    }
}

@-moz-keyframes fromFarToClose {
    0% {
        top: 60%;
    }
    100% {
        top: -20%;
        height:200px;
        width: 500px;
    }
}

@keyframes fromFarToClose {
    0% {
        top: 60%;
    }
    100% {
        top: -20%;
        height:200px;
        width: 500px;
    }
}


@-webkit-keyframes range_one {
    0% {
        left: 80%
    }
    100% {
        left: -200%
    }
}

@-moz-keyframes range_one {
    0% {
        left: 80%
    }
    100% {
        left: -200%
    }
}

@keyframes range_one {
    0% {
        left: 80%
    }
    100% {
        left: -200%
    }
}
@-webkit-keyframes range_two {
    0% {
        left: 280%
    }
    100% {
        left: -200%
    }
}

@-moz-keyframes range_two {
    0% {
        left: 280%
    }
    100% {
        left: -200%
    }
}

@keyframes range_two {
    0% {
        left: 280%
    }
    100% {
        left: -200%
    }
}
