.content_box{
    width: 100%;
    text-align: left;
}

.content_box_line{
    margin-top: 2rem;
    width: 100%;
    height: 17rem;
}

.content_box_div{
    width: 50%;
    float: left;
    /*word-wrap:break-all;*/
}

.content_box_div div{
    padding: 8px;
    line-height: 1.502rem;
    /*word-wrap:break-word;*/
    white-space:normal;
}

.contact_content_title {
    margin-bottom: 1rem;
    /*width: 15rem;*/
    height: 1.625rem;
    /*font-family: MicrosoftYaHei;*/
    font-size: 1.563rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.625rem;
    letter-spacing: 0.075rem;
    color: #9ab274;
}

.last_line{
    width: 80%;
}