/*首页*/
.hAdBox{
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
    top:0;
    left:0;
    z-index:888;
}
.hAdBox .img{
	width:100%;
	position:absolute;
	top:0;
	left:0;
}
.txtBox{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.txtBox .txtCon{
	width:100%;
	text-align:center;
}
.txtBox .txtCon p.cn{
	font-size:44px;
	color:#7ccd3a;
	padding-top:30px;
	padding-bottom:19px;
}
.txtBox .txtCon p.en{
	color:#7ccd3a;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-transform:uppercase;
	padding-bottom:4px;
}
.icon11{
	position:absolute;
	bottom:71px;
	left:50%;
	margin-left:-33px;
	z-index:2;
}


#loginBox {
    display:none;
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background:url(../images/bg.png);
}
#loginBox .loginBk{
    width:100%;
    height:100%;
    overflow:hidden;
}
#loginBox form{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-195px;

}
#loginBox form .txt{
    color:#fff;
}
#loginBox form .error{
    color:#fff;
}

html {
    /*font-size: calc(100vw/100);*/
    /*font-size:16px;*/
}

.company {
	width: 12rem;
	height: 1.75rem;
	font-family: JQXiYuanFT;
	font-size: 1.776rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.75rem;
	letter-spacing: 0.569rem;
	color: #696969;
}

.since {
	width: 5.063rem;
	height: 0.625rem;
	font-family: ComicSansMS;
	font-size: 0.796rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.75rem;
	letter-spacing: 0.188rem;
	color: #696969;
}

.menu {
	width: 2.75rem;
	height: 1.00rem;
	font-family: HYLiangPinXianJ;
	font-size: 1.378rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.378rem;
	letter-spacing: 0.138rem;
	color: #747474;
}
.language-menu {
	margin-top: -80px;
	margin-right: 40px;
}
.language {
	width: 7.75rem;
	height: 1.188rem;
	font-family: SimHei;
	font-size: 1.12rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1rem;
	letter-spacing: 0rem;
	color: #616161;
}

.logo_image {
	width: 15rem;
	height: 7.875rem;
	padding-bottom:0.5rem;
}
.cotton_image {
	width: 8.75rem;
	height: 7.125rem;
}

.tmall_image {
	width: 9.5rem;
	height: 2.3125rem;
}

.link_image{
	width: 2.25rem;
	height: 2.25rem;
}

.contact_image{
	width: 2.688rem;
	height: 2.5rem;
}
.contact_text {
	width: 6.125rem;
	height: 1.25rem;
	font-family: SimHei;
	font-size: 1.229rem;
	font-weight: bold;
	font-stretch: normal;
	line-height: 1.229rem;
	letter-spacing: 0.125rem;
	color: #2b261e;
	margin-left:1rem;
	margin-top:0.2rem;
}