<extend name="Base/common"/>

<block name="header">
    <header class="subhead" id="overview" style="background: linear-gradient(45deg, #ffffff 0%,#ffffff 100%);">            
    </header>
</block>

<block name="side">
<!-- 左侧 nav
================================================== -->
    <!--<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div>-->
</block>

<block name="body">
    <!-- <img src="__IMG__/yl/about.jpg"> -->
    <body> 
        <div class="aboutDiv aboutBody" >
            <div class="aboutImg left1"><img src="__IMG__/YL_PNG/公司简介/about-left1.png"/></div>
            <!-- <div class="aboutImg left2"><img src="__IMG__/YL_PNG/公司简介/about-left2.png"/></div> -->
            <!-- <div class="aboutImg left3"><img src="__IMG__/YL_PNG/公司简介/about-left3.png"/></div> -->
            <!-- <div class="aboutImg left4"><img src="__IMG__/YL_PNG/公司简介/about-left4.png"/></div> -->
            <div class="aboutImg mid1"><img src="__IMG__/YL_PNG/公司简介/about-mid1.png"/></div>
            <!-- <div class="aboutImg mid2"><img src="__IMG__/YL_PNG/公司简介/about-mid2.png"/></div>
            <div class="aboutImg right1"><img src="__IMG__/YL_PNG/公司简介/about-right1.png"/></div>
            <div class="aboutImg right2"><img src="__IMG__/YL_PNG/公司简介/about-right2.png"/></div>
            <div class="aboutImg right3"><img src="__IMG__/YL_PNG/公司简介/about-right3.png"/></div>
            <div class="aboutImg right4"><img src="__IMG__/YL_PNG/公司简介/about-right4.png"/></div> -->
            </div>
    </body>
</block>