<extend name="Base/common"/>

<block name="header">
    <header class="subhead" id="overview" style="background: linear-gradient(45deg, #ffffff 0%,#ffffff 100%);">
            <link rel="stylesheet" href="__CSS__/honor-core.css">
            <script src="__JS__/jquery.textfill.min.js"></script>
            <!-- <script src="https://unpkg.com/fancy-textfill/dist/fancy-text-fill.jQuery.js"></script> -->
            <script src="__JS__/honor-core.js"></script>
    </header>
</block>

<block name="side">
<!-- 左侧 nav
================================================== -->
    <!--<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div>-->
</block>

<block name="body">
<body>
<div class="honor-title">
    <div class="honor-title-word">
        <span>1972-2018</span>
    </div>
</div>
<div class="honor-content">
        <div class="honor-tree">
                <img src="__IMG__/YL_PNG/公司历史/tree.png" />
        </div>
        <div class="honor-img-1">
                <img src="__IMG__/YL_PNG/公司历史/honor_img_1.png" />
        </div>
        <div id="leaf1" class="honor-leaf-1">
            <span class="honor-left-word">2017</span>
        </div>
        <div class="honor-img-2">
                <img src="__IMG__/YL_PNG/公司历史/honor_img_2.png" />
        </div>
        <div class="honor-img-3">
                <img src="__IMG__/YL_PNG/公司历史/honor_img_1.png" />
        </div>
        <div class="honor-img-4">
                <img src="__IMG__/YL_PNG/公司历史/honor_img_2.png" />
        </div>
        <div class="honor-img-5">
                <img src="__IMG__/YL_PNG/公司历史/honor_img_1.png" />
        </div>
        <!-- <div class="honor-title-1">
            <span>永联第38间服装加工厂正式开张</span>
        </div>
        <div class="honor-desc-1">
            <p>2017年11月03日永联第38间服装加工厂正式开
                    业，公司名为（永郭服装加工厂）在此送上热
                    烈的祝贺，公司位于茂名化州市</p>
        </div> -->
    </div>
</body>
</block>