<extend name="Base/common"/>
<block name="header">
    <!--<header class="jumbotron subhead" id="overview" >
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>-->
    <header class="subhead" id="overview" style="background: linear-gradient(45deg, #ffffff 0%,#ffffff 100%);">
        <!--<div class="container" style="height:25px;">
            <marquee behavior="scroll" contenteditable="true" scrollamount="-1" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" onmouseover="this.stop();" onmouseout="this.start();" vspace="0px" >
                <img src="__IMG__/yl/car.jpg" width="140px" style="">
            </marquee>
        </div>-->
        <!--<div class="" style="height:25px;">
            <marquee behavior="scroll" contenteditable="true" scrollamount="-1" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" onmouseover="this.stop();" onmouseout="this.start();" vspace="0px" >
                <img src="__IMG__/yl/car.jpg" width="140px" style="">
            </marquee>
        </div>-->
    </header>
</block>

<block name="side">
    <!-- 左侧 nav
    ================================================== -->
    <!--<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div>-->
</block>

<block name="body">
    <link href="__CSS__/index.css" rel="stylesheet" type="text/css">
    <div class="box banner">
        <img src="__IMG__/YL_PNG/首页/banner_03.png" alt="">
    </div>
    <div class="box">
        <img src="__IMG__/YL_PNG/首页/topImg_03.png" alt="">
    </div>
    <div class="box tab-content">
        <ul id="myTab" class="nav nav-tabs">
            <a href="#introduction" data-toggle="tab">
                <li class="active" id="introductionTab">
                    公司简介
                </li>
            </a>
            <a href="#culture" data-toggle="tab">
                <li id="cultureTab">
                    企业文化
                </li>
            </a>
            <a href="#produce" data-toggle="tab">
                <li id="produceTab">
                    生产实力
                </li>
            </a>
            <a href="#product" data-toggle="tab">
                <li id="productTab">
                    产品中心
                </li>
            </a>
            <!--<li class="produce">-->
            <!--<a href="#" id="myTabDrop1" class="produce-toggle"-->
            <!--data-toggle="produce">Java-->
            <!--<b class="caret"></b>-->
            <!--</a>-->
            <!--<ul class="produce-menu" role="menu" aria-labelledby="myTabDrop1">-->
            <!--<li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>-->
            <!--<li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>-->
            <!--</ul>-->
            <!--</li>-->
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="introduction">
                <div class="title">
                    Company profile / 公司简介
                </div>
            </div>
            <div class="tab-pane fade" id="culture">
                <div class="title">
                    Corporate culture / 企业文化
                </div>
            </div>
            <div class="tab-pane fade" id="produce">
                <div class="title">
                    Production ability / 生产实力
                </div>
            </div>
            <div class="tab-pane fade" id="product">
                <div class="title">
                    Product center / 产品中心
                </div>
                <div>

                </div>
            </div>
            <!--<div class="tab-pane fade" id="jmeter">-->
            <!--<p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>-->
            <!--</div>-->
            <!--<div class="tab-pane fade" id="ejb">-->
            <!--<p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。-->
            <!--</p>-->
            <!--</div>-->
        </div>
    </div>
    <!--<img src="__IMG__/yl/index.jpg">-->
</block>