<extend name="Base/common"/>

<block name="header">
    <!--<header class="jumbotron subhead" id="overview" >
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>-->
    <header class=" subhead" id="overview" style="background: linear-gradient(45deg, #ffffff 0%,#ffffff 100%);">
        <div class="container" style="height:26px;">
            <marquee behavior="scroll" contenteditable="true" scrollamount="-1" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" onmouseover="this.stop();" onmouseout="this.start();" vspace="0px">
                <img src="__IMG__/yl/car.jpg" width="140px" style="">
            </marquee>
        </div>
    </header>
</block>


<block name="body">
    <div style="width: 100%">
        <img src="/Public/Home/images/yl/index/index.jpg" alt="">
    </div>
</block>