<extend name="Base/common"/>
<block name="header">
    <!--<header class="jumbotron subhead" id="overview" >
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>-->
    <header class="subhead" id="overview" style="background: linear-gradient(45deg, #ffffff 0%,#ffffff 100%);">

        <link rel="stylesheet" href="__CSS__/photoswipe.css">
        <link rel="stylesheet" href="__CSS__/default-skin.css">
        <script src="__JS__/photoswipe.min.js"></script>
        <script src="__JS__/photoswipe-ui-default.min.js"></script>
        <script src="__JS__/indexStyle.js"></script>
        <!--<div class="container" style="height:25px;">
            <marquee behavior="scroll" contenteditable="true" scrollamount="-1" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" onmouseover="this.stop();" onmouseout="this.start();" vspace="0px" >
                <img src="__IMG__/yl/car.jpg" width="140px" style="">
            </marquee>
        </div>-->
        <!--<div class="" style="height:25px;">
            <marquee behavior="scroll" contenteditable="true" scrollamount="-1" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" onmouseover="this.stop();" onmouseout="this.start();" vspace="0px" >
                <img src="__IMG__/yl/car.jpg" width="140px" style="">
            </marquee>
        </div>-->
    </header>
</block>

<block name="side">
    <!-- 左侧 nav
    ================================================== -->
    <!--<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div>-->
</block>

<block name="body">
    <link href="__CSS__/index.css" rel="stylesheet" type="text/css">
    <div class="box banner">
        <!--<img src="__IMG__/YL_PNG/index/banner_03.png" alt="">-->
        <volist name="result.banner" id="vo">
        	<img class="banner" src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}">
        </volist>
    </div>
    <div class="box">
        <!--<img src="__IMG__/YL_PNG/index/topImg_03.png" alt="">-->
        <volist name="result.content" id="vo">
        	<img src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}">
        </volist>
    </div>
    <div class="box tab-content">
        <ul id="myTab" class="nav nav-tabs">
            <a href="#introduction" data-toggle="tab">
                <li class="active" id="introductionTab">
                    <span>{:L('INDEX_TAB_INTRODUCTION')}</span>
                </li>
            </a>
            <a href="#culture" data-toggle="tab">
                <li id="cultureTab">
                    <span>{:L('INDEX_TAB_CULTURE')}</span>
                </li>
            </a>
            <a href="#produce" data-toggle="tab">
                <li id="produceTab">
                    <span>{:L('INDEX_TAB_PRODUCE')}</span>
                </li>
            </a>
            <a href="#product" data-toggle="tab">
                <li id="productTab">
                    <span>{:L('INDEX_TAB_PRODUCT')}</span>
                </li>
            </a>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="introduction">
                <div class="title">
                    Company profile / {:L('INDEX_TAB_INTRODUCTION_TEXT')}
                </div>
                <div class="content">
                    <div class="line">
                        <div id="profileImg">
                            <!--<img src="__IMG__/YL_PNG/intro/about-mid.png" alt="">-->
					        <volist name="result.profile" id="vo">
					        	<img src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}">
					        </volist>
                        </div>
                    </div>
                    <div class="line">
                        <p>
                            {:L('ABOUT_CONTEXT')}
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="culture">
                <div class="title">
                    Corporate culture / {:L('INDEX_TAB_CULTURE_TEXT')}
                </div>
                <div class="content">
                    <div class="left">
                        <p>❤ {:L('CULTURE_TEXT_1')}</p>
                        <p>❤ {:L('CULTURE_TEXT_2')}</p>
                        <p>❤ {:L('CULTURE_TEXT_3')}</p>
                        <p>❤ {:L('CULTURE_TEXT_4')}</p>
                        <p>❤ {:L('CULTURE_TEXT_5')}</p>
                        <p>❤ {:L('CULTURE_TEXT_6')}</p>
                        <p>❤ {:L('CULTURE_TEXT_7')}</p>
                        <p>❤ {:L('CULTURE_TEXT_8')}</p>
                        <p>❤ {:L('CULTURE_TEXT_9')}</p>
                        <p>❤ {:L('CULTURE_TEXT_10')}</p>
                    </div>
                    <!--<div class="right">-->
                        <!--<img src="__IMG__/YL_PNG/index/culture.png" alt="">-->
                    <!--</div>-->
                </div>

            </div>
            <div class="tab-pane fade" id="produce">
                <div class="title">
                    Production ability / {:L('INDEX_TAB_PRODUCE_TEXT')}
                </div>
                <div class="content">
                    <!--<div class="row firstRow">
                        <div class="my-gallery" >
                            <figure>
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/banfang.jpg" data-size="600x400"/>
                                    <div class="mask">
                                        <div class="text">板房</div>
                                    </div>
                                </div>
                            </figure>
                            <figure style="display:none">
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/banfang.jpg" data-size="600x400"/>
                                </div>
                            </figure>
                            <figure style="display:none">
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/banfang.jpg" data-size="600x400"/>
                                </div>
                            </figure>
                        </div>

                        <div class="my-gallery" >
                            <figure>
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/bucangqu.jpg" data-size="600x400"/>
                                    <div class="mask">
                                        <div class="text">布仓区</div>
                                    </div>
                                </div>
                            </figure>
                            <figure style="display:none">
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/banfang.jpg" data-size="600x400"/>
                                </div>
                            </figure>
                        </div>

                    </div>
                    <div class="row secondRow">


                        <div class="my-gallery" >
                            <figure>
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/caichuangqu.jpg" data-size="600x400"/>
                                    <div class="mask">
                                        <div class="text">裁床区</div>
                                    </div>
                                </div>
                            </figure>
                            <figure style="display:none">
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/banfang.jpg" data-size="600x400"/>
                                </div>
                            </figure>
                        </div>

                        <div class="my-gallery" >
                            <figure>
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/chefengqu.jpg" data-size="600x400"/>
                                    <div class="mask">
                                        <div class="text">车缝区</div>
                                    </div>
                                </div>
                            </figure>
                            <figure style="display:none">
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/banfang.jpg" data-size="600x400"/>
                                </div>
                            </figure>
                        </div>

                        <div class="my-gallery" >
                            <figure>
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/tangyiqu.jpg" data-size="600x400"/>
                                    <div class="mask">
                                        <div class="text">烫衣区</div>
                                    </div>
                                </div>
                            </figure>
                            <figure style="display:none">
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/banfang.jpg" data-size="600x400"/>
                                </div>
                            </figure>
                        </div>

                    </div>
                    <div class="row thirdRow">

                        <div class="my-gallery" >
                            <figure>
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/chengpingqu.jpg" data-size="600x400"/>
                                    <div class="mask">
                                        <div class="text">成品区</div>
                                    </div>
                                </div>
                            </figure>
                            <figure style="display:none">
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/banfang.jpg" data-size="600x400"/>
                                </div>
                            </figure>
                        </div>

                        <div class="my-gallery" >
                            <figure>
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/wuliuqu.jpg" data-size="600x400"/>
                                    <div class="mask">
                                        <div class="text">物流区</div>
                                    </div>
                                </div>
                            </figure>
                            <figure style="display:none">
                                <div class="imgGroup">
                                    <img src="__IMG__/YL_PNG/index/banfang.jpg" data-size="600x400"/>
                                </div>
                            </figure>
                        </div>

                    </div>-->
                    <div class="row firstRow">
                        <div class="my-gallery" >
                        	<volist name="result.strength_sample_room" id="vo">
                            <figure>
                                <div class="imgGroup" <neq name="i" value="1">style="display:none"</neq>>
                                    <img src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}" data-size="600x400"/>
                                    <eq name="i" value="1">
                                    <div class="mask">
                                        <div class="text">{:L('PRODUCT_TEXT_1')}</div>
                                    </div>
                                    </eq>
                                </div>
                            </figure>
                            </volist>
                        </div>
                        
                        <div class="my-gallery" >
                        	<volist name="result.strength_cloth_warehouse_area" id="vo">
                            <figure>
                                <div class="imgGroup" <neq name="i" value="1">style="display:none"</neq>>
                                    <img src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}" data-size="600x400"/>
                                    <eq name="i" value="1">
                                    <div class="mask">
                                        <div class="text">{:L('PRODUCT_TEXT_2')}</div>
                                    </div>
                                    </eq>
                                </div>
                            </figure>
                            </volist>
                        </div>
                        
                    </div>
                    
                    <div class="row secondRow">
                        <div class="my-gallery" >
                        	<volist name="result.strength_cutting_table_area" id="vo">
                            <figure>
                                <div class="imgGroup" <neq name="i" value="1">style="display:none"</neq>>
                                    <img src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}" data-size="600x400"/>
                                    <eq name="i" value="1">
                                    <div class="mask">
                                        <div class="text">{:L('PRODUCT_TEXT_3')}</div>
                                    </div>
                                    </eq>
                                </div>
                            </figure>
                            </volist>
                        </div>
                        
                        <div class="my-gallery" >
                        	<volist name="result.strength_sewing_area" id="vo">
                            <figure>
                                <div class="imgGroup" <neq name="i" value="1">style="display:none"</neq>>
                                    <img src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}" data-size="600x400"/>
                                    <eq name="i" value="1">
                                    <div class="mask">
                                        <div class="text">{:L('PRODUCT_TEXT_4')}</div>
                                    </div>
                                    </eq>
                                </div>
                            </figure>
                            </volist>
                        </div>
                        
                        <div class="my-gallery" >
                        	<volist name="result.strength_ironing_area" id="vo">
                            <figure>
                                <div class="imgGroup" <neq name="i" value="1">style="display:none"</neq>>
                                    <img src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}" data-size="600x400"/>
                                    <eq name="i" value="1">
                                    <div class="mask">
                                        <div class="text">{:L('PRODUCT_TEXT_5')}</div>
                                    </div>
                                    </eq>
                                </div>
                            </figure>
                            </volist>
                        </div>
                        
                    </div>
                    
                    <div class="row thirdRow">
                        <div class="my-gallery" >
                        	<volist name="result.strength_finished_product_area" id="vo">
                            <figure>
                                <div class="imgGroup" <neq name="i" value="1">style="display:none"</neq>>
                                    <img src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}" data-size="600x400"/>
                                    <eq name="i" value="1">
                                    <div class="mask">
                                        <div class="text">{:L('PRODUCT_TEXT_6')}</div>
                                    </div>
                                    </eq>
                                </div>
                            </figure>
                            </volist>
                        </div>
                        
                        <div class="my-gallery" >
                        	<volist name="result.strength_logistic_area" id="vo">
                            <figure>
                                <div class="imgGroup" <neq name="i" value="1">style="display:none"</neq>>
                                    <img src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}" data-size="600x400"/>
                                    <eq name="i" value="1">
                                    <div class="mask">
                                        <div class="text">{:L('PRODUCT_TEXT_7')}</div>
                                    </div>
                                    </eq>
                                </div>
                            </figure>
                            </volist>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="product">
                <div class="title">
                    Product center / {:L('INDEX_TAB_PRODUCT_TEXT')}
                </div>
                <div class="content">
                    <!--<img src="__IMG__/YL_PNG/index/product.jpg" alt="">-->
			        <volist name="result.product" id="vo">
			        	<img src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}">
			        </volist>
                </div>
            </div>
            <!--<div class="tab-pane fade" id="jmeter">-->
            <!--<p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>-->
            <!--</div>-->
            <!--<div class="tab-pane fade" id="ejb">-->
            <!--<p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。-->
            <!--</p>-->
            <!--</div>-->
        </div>
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <!--<button class="pswp__button pswp__button&#45;&#45;share" title="Share"></button>-->

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader-active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
    <!--<img src="__IMG__/yl/index.jpg">-->
    <script>
        $(function () {
            $("#myTab li").click(function () {
                $("#myTab li").removeClass("active");
                $(this).addClass("active");
            });
            $('.imgGroup').hover(function () {
                $(this).find('.mask').css('display', 'none');
            }, function () {
                $(this).find('.mask').css('display', 'block');
            });
//            $('.img').find('img:first').show();
//            $('.imgGroup').click(function () {
//                console.log($(this).find('img:first').attr('src'));
//                $(this).find('.imgList').show();
//                initPhotoSwipeFromDOM('.imgList');
//            });
//            $('.pswp__button pswp__button--close').click(function(){
//
//            });
        });
    </script>
</block>