<extend name="Base/common"/>

<block name="header">
    <!--<header class="jumbotron subhead" id="overview" >
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>-->
    <header class="subhead" id="overview" style="background: linear-gradient(45deg, #ffffff 0%,#ffffff 100%);">
    </header>
</block>

<block name="side">
<!-- 左侧 nav
================================================== -->
    <!--<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div>-->
</block>

<block name="body">
    <volist name="result.banner" id="vo">
    	<img class="banner" src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}">
    </volist>
	<div class="container" style="width: 80%">
		<div id="content" style="width:100%;padding-top:5rem;text-align: center;margin: 0 auto;">
		    <volist name="result.content" id="vo">
		    	<img style="width: 100%;" src="{:get_cover($vo['picture_id'],'path')}" alt="{$vo.name}">
		    </volist>
		</div>
    </div>
</block>