<extend name="Base/common" />

<block name="header">
    <!--<header class="jumbotron subhead" id="overview" >
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>-->
    <header class="subhead" id="overview" style="background: linear-gradient(45deg, #ffffff 0%,#ffffff 100%);">
        <link rel="stylesheet" href="__CSS__/blueimp-gallery.min.css">
        <link rel="stylesheet" href="__CSS__/blueimp-gallery-indicator.css">
        <link rel="stylesheet" href="__CSS__/blueimp-gallery-video.css">
    </header>
</block>

<block name="side">
    <!-- 左侧 nav
================================================== -->
    <!--<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div>-->
</block>

<block name="body">
    <div style="padding-left:15%; padding-right:15%;padding-bottom:2%; padding-top:1%;">
        <!-- <h2>公司视频</h2> -->
        <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
        <div id="blueimp-video-carousel" class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="play-pause"></a>
        </div>
    </div>
    <script src="__JS__/blueimp-gallery.min.js"></script>
    <script>
        // Initialize the Gallery as video carousel:
        $(function () {
            'use strict'
            blueimp.Gallery([{
                    href: '__IMG__/' +
                        'yonglian.mp4',
                    type: 'video/mp4',
                    poster: '__IMG__/startup.jpg'
                }
            ], {
                container: '#blueimp-video-carousel',
                carousel: true
            })
        })
        window.onload = function () {
            $(".video-content>a")[0].click();
        };
    </script>
</block>